body {
    margin: 0px;
}

/*POP TEXT*/

h1 {
    padding: 50px;
    text-align: center;
}

.pop-container {
    text-align: center;
}

.text-container {
    font-size: 5em;
}

.pop-animation {
    animation: pop-animation 3.5s linear infinite;
}

.word-1 {
    --color-1: #17494D;
    --color-2: #ACCFCB;
    --color-3: #ACCFCB;
}

.word-2 {
    --color-1: #ACCFCB;
    --color-2: #17494D;
    --color-3: #ACCFCB;
}

.word-3 {
    --color-1: #ACCFCB;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}

/*
.word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #DF8453;
  }*/


@keyframes pop-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

/*SPINNING LOGO*/

.logo-container {
    width: 20%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 50px;
}

.spin-animation {
    animation: spin-animation 15s linear infinite;
}

@keyframes spin-animation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*LOOP*/

.loop-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding-bottom: 100px;
}

.animation-loop {
    display: flex;
    animation: animation-loop 20s linear infinite;
}

.animation-loop img{
    padding: 0px 10px;
}

@keyframes animation-loop {
    0% {
        transform: translateX(0px) translateZ(0px);
    }
    100% {
        transform: translateX(-100%) translateZ(0px);
    }
}

/*BUTTONS*/

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 5%;  
}

.button a {
    text-decoration: none;
}

    /*Button 1*/

.button-1 {
    background-color: cadetblue;
    transition: 0.5s;
}

.button-1 a {
    color: black;
    transition: 0.3s;
}

.button-1:hover {
    background-color: mediumpurple;
}

.button-1:hover a {
    color: white;
}

    /*Button 2*/

.button-2 {
    border-style: solid;
    background-color:coral;
    transition: 0.5s;
}

.button-2 a {
    color: black;
    transition: 0.3s;
}

.button-2:hover {
    background-color: white;
}

/*FADE IN*/

.fade-container {
    padding-bottom: 100px;
    color: white;
}

.show {
    background-color: red;
    color: black;
    transition: 1s;
}

/*BUBBLE*/

.bubble-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-bottom: 100px;
}

.speech-bubble {
    display: flex;
    flex-direction: row;
    justify-content: center;
	position: relative;
	background:palevioletred;
	border-radius: .4em;
    font-size: 1em;
    width: 250px;
    height: 180px;
    transition: width .5s, height .5s, font-size .5s;
}

.speech-bubble:hover {
    width: 260px;
    height: 190px;
    font-size: 1.3em;
}

/*DISAPPEAR*/

.disappear-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.disappear {
    height: 50px;
    width: 50px;
    background-color: royalblue;
    opacity: 1;
    transition: opacity .5s;
}

.disappear:hover {
    opacity: 0;
}

.disappear-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.placeholder {
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: opacity .2s;
}

.placeholder:hover {
    opacity: 0;
}